*.log
.DS_Store
.env
.env.backup
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/packages
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/coverage
/vendor
/.local-anderson9527-laravel-dev-helper.php
Homestead.json
Homestead.yaml
Thumbs.db
